In [ ]:
# Origen de los datos: https://www.kaggle.com/datasets/uciml/adult-census-income?resource=download

In [15]:
import pandas as pd
import re

In [16]:
df = pd.read_csv('censo.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [59]:
string = 'sex>=89'
string.split('=')
splited = re.split('(\W)', string)

In [78]:
# Probabilidad P(A=a)
def probability(df, target):
    splited = re.split('(\W)', target)
    key = splited[0]
    value = splited[-1]
    symbol = ''.join([x for x in splited if x in ['=', '>', '<']])
    string = "(df['{}']{}'{}').mean()".format(key,symbol,value)
    return eval(string)

# Probabilidad condicional P(A=a/B=b)
def conditional_probability(df, target, condition):
    splited_condition = re.split('(\W)', condition)
    key_condition = splited_condition[0]
    value_condition = splited_condition[-1]
    symbol_condition = ''.join([x for x in splited_condition if x in ['=', '>', '<']])
    string_condition = "df[df['{}']{}'{}']".format(key_condition,symbol_condition,value_condition)
    df = eval(string_condition)
    
    splited_target = re.split('(\W)', target)
    key_target = splited_target[0]
    value_target = splited_target[-1]
    symbol_target = ''.join([x for x in splited_target if x in ['=', '>', '<']])
    string_target = "(df['{}']{}'{}').mean()".format(key_target,symbol_target,value_target)
    return eval(string_target)

# Probabilidad condicional P(A=a/B=b)
P(A)P(B/A) 
def conditional_probability(df, target, condition):
    splited_condition = re.split('(\W)', condition)
    key_condition = splited_condition[0]
    value_condition = splited_condition[-1]
    symbol_condition = ''.join([x for x in splited_condition if x in ['=', '>', '<']])
    string_condition = "df[df['{}']{}'{}']".format(key_condition,symbol_condition,value_condition)
    df = eval(string_condition)
    
    splited_target = re.split('(\W)', target)
    key_target = splited_target[0]
    value_target = splited_target[-1]
    symbol_target = ''.join([x for x in splited_target if x in ['=', '>', '<']])
    string_target = "(df['{}']{}'{}').mean()".format(key_target,symbol_target,value_target)
    return eval(string_target)

In [79]:
conditional_probability(df,'sex==Female','race==White')
# (df['sex']=='Female').mean()
# probability(df,'sex==Female')

       age workclass  fnlwgt     education  education.num      marital.status  \
0       90         ?   77053       HS-grad              9             Widowed
1       82   Private  132870       HS-grad              9             Widowed
3       54   Private  140359       7th-8th              4            Divorced
4       41   Private  264663  Some-college             10           Separated
5       34   Private  216864       HS-grad              9            Divorced
...    ...       ...     ...           ...            ...                 ...
32556   22   Private  310152  Some-college             10       Never-married
32557   27   Private  257302    Assoc-acdm             12  Married-civ-spouse
32558   40   Private  154374       HS-grad              9  Married-civ-spouse
32559   58   Private  151910       HS-grad              9             Widowed
32560   22   Private  201490       HS-grad              9       Never-married

              occupation   relationship   race     sex  capital.gain  \
0                      ?  Not-in-family  White  Female             0
1        Exec-managerial  Not-in-family  White  Female             0
3      Machine-op-inspct      Unmarried  White  Female             0
4         Prof-specialty      Own-child  White  Female             0
5          Other-service      Unmarried  White  Female             0
...                  ...            ...    ...     ...           ...
32556    Protective-serv  Not-in-family  White    Male             0
32557       Tech-support           Wife  White  Female             0
32558  Machine-op-inspct        Husband  White    Male             0
32559       Adm-clerical      Unmarried  White  Female             0
32560       Adm-clerical      Own-child  White    Male             0

       capital.loss  hours.per.week native.country income
0              4356              40  United-States  <=50K
1              4356              18  United-States  <=50K
3              3900              40  United-States  <=50K
4              3900              40  United-States  <=50K
5              3770              45  United-States  <=50K
...             ...             ...            ...    ...
32556             0              40  United-States  <=50K
32557             0              38  United-States  <=50K
32558             0              40  United-States   >50K
32559             0              40  United-States  <=50K
32560             0              20  United-States  <=50K

[27816 rows x 15 columns]

0.3106844981305723

In [ ]:
P(X/A)