In [1]:
# Origen de los datos: https://www.kaggle.com/datasets/uciml/adult-census-income?resource=download

In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv('censo.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [35]:
# Forma rápida:

# Prob ser mujer P(A=mujer)
(df['sex']=='Female').mean()

# Prob ser mujer condicionado a ser blanco P(A=Mujer/B=Blanco)
(df[df['race']=='White']['sex']=='Female').mean()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [36]:
# Lista de casos posibles para una columna
def possible_cases(df, target):
    return df[target].unique()

# Probabilidad para cada uno de los casos posibles de una columna
def describe_cases(df, target):
    cases = possible_cases(df, target)
    output = {}
    for c in cases:
        output[c] = (df[target]==c).mean()
    return output

# Probabilidad P(A=a)
def probability(df, target):
    splited = re.split('(\W)', target)
    key = splited[0]
    value = splited[-1]
    symbol = ''.join([x for x in splited if x in ['=', '>', '<']])
    string = "(df['{}']{}'{}').mean()".format(key,symbol,value)
    return eval(string)

# Probabilidad condicional P(A=a/B=b)
def conditional_probability(df, target, condition):
    splited_condition = re.split('(\W)', condition)
    key_condition = splited_condition[0]
    value_condition = splited_condition[-1]
    symbol_condition = ''.join([x for x in splited_condition if x in ['=', '>', '<']])
    string_condition = "df[df['{}']{}'{}']".format(key_condition,symbol_condition,value_condition)
    df = eval(string_condition)
    
    splited_target = re.split('(\W)', target)
    key_target = splited_target[0]
    value_target = splited_target[-1]
    symbol_target = ''.join([x for x in splited_target if x in ['=', '>', '<']])
    string_target = "(df['{}']{}'{}').mean()".format(key_target,symbol_target,value_target)
    return eval(string_target)

# Probabilidad condicional P(A=a/B=b)
def conditional_probability(df, target, condition):
    splited_condition = re.split('(\W)', condition)
    key_condition = splited_condition[0]
    value_condition = splited_condition[-1]
    symbol_condition = ''.join([x for x in splited_condition if x in ['=', '>', '<']])
    string_condition = "df[df['{}']{}'{}']".format(key_condition,symbol_condition,value_condition)
    df = eval(string_condition)
    
    splited_target = re.split('(\W)', target)
    key_target = splited_target[0]
    value_target = splited_target[-1]
    symbol_target = ''.join([x for x in splited_target if x in ['=', '>', '<']])
    string_target = "(df['{}']{}'{}').mean()".format(key_target,symbol_target,value_target)
    return eval(string_target)

In [39]:
possible_cases(df, 'race')
possible_cases(df, 'sex')
describe_cases(df,'race')

{'White': 0.8542735173981143,
 'Black': 0.0959429992936335,
 'Asian-Pac-Islander': 0.03190933939375326,
 'Other': 0.008322840207610331,
 'Amer-Indian-Eskimo': 0.009551303706888609}

In [19]:
# P(A)P(B/A) = P(B)P(A/B) 
# P(A=White)P(B=Female/A=White) = P(B=Female)P(A=White/B=Female) 
right = probability(df,'race==White') * conditional_probability(df,'sex==Female','race==White')
left = probability(df,'sex==Female') * conditional_probability(df,'race==White','sex==Female')
print('P(A)P(B/A) = ' + str(left))
print('P(B)P(A/B) = ' + str(right))
print('P(A)P(B/A) = P(B)P(A/B) : ' + str(round(right,5)==round(left,5)))

P(A)P(B/A) = 0.26540953901907194
P(B)P(A/B) = 0.2654095390190719
P(A)P(B/A) = P(B)P(A/B) : True

In [33]:
# Probabilidad total
# P(A=a) = P(A=a/B=b1)P(B=b1) +  P(A=a/B=b2)P(B=b2)

# P(A)P(B/A) = P(B)P(A/B) 
one = probability(df,'sex==Female') * conditional_probability(df,'race==White','sex==Female')
two = probability(df,'sex==Male') * conditional_probability(df,'race==White','sex==Male')
prob = probability(df,'race==White')
print('P(A=White/B=Female)P(B=Female) = ' + str(one))
print('P(A=White/B=Male)P(B=Male)     = ' + str(two))
print('P(A=White)                     = ' + str(prob))
print('P(A=a) = P(A=a/B=b1)P(B=b1) + P(A=a/B=b2)P(B=b2) : ' + str(round(prob,5)==round(one + two,5)))

P(A=White/B=Female)P(B=Female) = 0.26540953901907194
P(A=White/B=Male)P(B=Male)     = 0.5888639783790425
P(A=White)                     = 0.8542735173981143
P(A=a) = P(A=a/B=b1)P(B=b1) + P(A=a/B=b2)P(B=b2) : True